<?xml version="1.0"?>
<config>
    <modules>
        <Wisepops_Connect>
            <version>1.0.0.0</version>
        </Wisepops_Connect>
    </modules>
    <global>
        <helpers>
            <wisepopsconnect>
                <class>Wisepops_Connect_Helper</class>
            </wisepopsconnect>
        </helpers>
        <blocks>
            <wisepopsconnect><class>Wisepops_Connect_Block</class></wisepopsconnect>
        </blocks>
        <models>
            <wisepopsconnect><class>Wisepops_Connect_Model</class></wisepopsconnect>
        </models>
        <events>
            <controller_action_layout_render_before_adminhtml_system_config_edit>
                <observers>
                    <wisepops_add_javascript_needed_files>
                         <type>singleton</type>
                        <class>Wisepops_Connect_Model_Observer</class>
                        <method>addJavascriptNeededFiles</method>
                    </wisepops_add_javascript_needed_files>
                </observers>
            </controller_action_layout_render_before_adminhtml_system_config_edit>
        </events>
    </global>
    <frontend>
        <routers>
            <wisepopsconnect>
                <use>standard</use>
                <args>
                    <module>Wisepops_Connect</module>
                    <frontName>wisepopsconnect</frontName>
                </args>
            </wisepopsconnect>
        </routers>
        <translate>
            <modules>
                <Wisepops_Connect>
                    <files>
                        <default>Wisepops_Connect.csv</default>
                    </files>
                </Wisepops_Connect>
            </modules>
        </translate>
        <layout>
            <updates>
                <wisepopsconnect>
                    <file>wisepopsconnect.xml</file>
                </wisepopsconnect>
            </updates>
        </layout>
    </frontend>

    <admin>
         <routers>
            <adminhtml>
                <args>
                    <modules>
                        <wisepopsconnect after="Mage_Adminhtml">Wisepops_Connect</wisepopsconnect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>

        <translate>
            <modules>
                <Wisepops_Connect>
                    <files>
                        <default>Wisepops_Connect.csv</default>
                    </files>
                </Wisepops_Connect>
            </modules>
        </translate>

        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <wisepopsconnect translate="title" module="wisepopsconnect">
                                            <title>Wisepops Settings</title>
                                        </wisepopsconnect>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <wisepopsconnect>
            <settings>
                <status>0</status>
            </settings>
        </wisepopsconnect>
    </default>
</config>
